.cart {
    display: grid;
    justify-content: center;
  }
  
  .cart > a {
    margin: 60px;
    font-size: 50px;
  }
  
  #table {
    background-color: #212529af;
    color: #f7f7f7e7;
    border-color: #000000;
  }
  
  #table > thead {
    background-color: #212529e7;
  }