:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.App {
  text-align: center;
  max-width: 100%;
  background-color: #c28b2db0;
  height: auto;
}

.navBg {
  justify-content: center;
  font-size: 20px;
  font-family: 'Macondo', cursive;
}

.nav-link {
	display: block;
  margin-left: 65px;
  margin-right: 77px;
}

.nav-tabs {
  border: 1px solid #000000;
  background-color: #212529e7;
  border-radius: 50px;
  vertical-align: middle;
  position: relative;
  margin-top: 0;
}

.nav-tabs .nav-link {
  color: #fff;
  font-weight: bold;
  border: 0;
  text-align:center;
}

.nav-tabs .nav-link:hover {
  color: rgb(212, 119, 27);
  border: 0;
  text-align:center;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border: 0;
}

.nav-tabs > li {
  float:none;
  display:inline-block;
  zoom:1;
}

.nav {
  justify-content: space-around;
}

.tabs {
  align-items: center;
  min-height: 100vh; 
  padding: 50px;
  left: 50%;
}

/*////////////////////////// Home //////////////////////////*/

.homeWrapper {
  background-color: #d5af6e;
  display: inline;
  justify-content: center;
  vertical-align: middle;
  margin: 0px;
  height: 50vh;
  max-height: 400px;
}

#curve {
  height: 200px;
  width: 100%;
}

.footerLinks {
  color: black;
  font-weight: bold;
  padding-bottom: 15px;
  font-family: 'Macondo', cursive;
}

.footerLinks a {
  color: #000000;
  text-decoration: none;
}

.footerLinks a:hover {
  color: #fafafab0;
}

/*////////////////////////// Carousel //////////////////////////*/

.carousel {
  max-height: 400px;
  width: 100%;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;
}

/*////////////////////////// About //////////////////////////*/
.aboutWrapper {
  background-color: #212529e7;
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  max-height: 800px;
  color: #cacacae7;
}

.aboutLeft > img {
  padding-top: 120px;
  padding-right: 30px;
  max-width: 500px;
}

.aboutRight > h1 {
  padding-top: 190px;
  max-width: 600px;
  font-size: 32px;
  text-align: start;
}

.aboutRight > h2 {
  max-width: 600px;
  font-size: 24px;
  padding-bottom: 25px;
  text-align: start;
}

.icons > a {
  font-size: 50px;
  padding: 30px;
  color: #cacacae7;
}

.icons > a:hover {
  color:rgb(212, 119, 27);
}

/*////////////////////////// Contact //////////////////////////*/
.contactWrapper {
  background-color: #d5af6e;
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  max-height: 1000px;
}

.contactLeft {
  padding: 140px 30px 0px 0px;
  text-align: end;
}

.contactLeft > h1 {
  font-weight: bold;
  font-size: 52px;
  font-family: 'Macondo', cursive;
}

.contactLeft > h2 {
  font-size: 21px;
}

.contactLeft > a, p {
  font-weight: bold;
}

.icons-contact {
  padding-top: 10px;
  text-align: end;
  font-size: 18px;
}

.contactRight {
  padding: 0px 0px 0px 20px;
  text-align: start;
  max-width: 600px;
}

.contactRight > input {
  width: 400px;
  margin-top: 30px;
}

.contactRight > p {
  margin-top: 20px;
}

#message-form {
  height: 180px;
}

#carta {
  height: 200px;
  width: 200px;
  z-index: 1;
  margin: 0;
}

/*////////////////////////// Profile //////////////////////////*/

.profileWrapper {
  background-color: #d5af6e;
  height: 100vh;
}

/*////////////////////////// Portfolio //////////////////////////*/

.portfolioWrapper {
  grid-auto-flow: row;
  background-color: #d5af6e;
  height: 100vh;
}

.imageGrid {
  padding-top: 30px;
  width: 300px;
  height: auto;
  margin: 13px 1% 0px 1%;
  float: left;
}

.imageGrid img {
	width: 100%;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.3s;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-khtml-border-radius: 8px;
}

.imageGrid img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  cursor: pointer;
}

/*////////////////////////// Store //////////////////////////*/

.storeWrapper {
  background-color: #d5af6e;
  justify-content: center;
  vertical-align: middle;
  margin: 0px;
  height: 100vh;
}


@media screen and (max-width: 1000px) {
  .aboutLeft {
      display: none;
  }
  
  .contactLeft {
    display: none;
  }
}