/*////////////////////////// Navbar //////////////////////////*/
.navbar-expand-lg .navbar-nav {
  width:100%;
  justify-content:space-between;
  font-family: 'Macondo', cursive;
  font-weight: bold;
  font-size: 18px;
}

.navbarCenter {
  padding-left: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#logo {
  padding-left: 50px;
  margin-right: 50px;
}

  /*////////////////////////// Carousel //////////////////////////*/
  
  .carousel {
    max-height: 280px;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel img {
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-30%);
  }

/*////////////////////////// Filter //////////////////////////*/

.filterWrapper {
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 25px;
  background-color: rgba(112, 106, 78, 0.245);
  padding-top: 15px;
}

.filterWrapper p {
  margin-left: 20px;
  margin-right: 20px;
}

.portfolioPlaceholders {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 16px; /* Adjust the gap between items as needed */
}

/* Style for each individual item */
.portfolioPlaceholders > div {
  width: 100%; /* Ensure each item takes the full width of its grid cell */
  height: 100%;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .portfolioPlaceholders {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Additional responsive styles for even smaller screens */
@media (max-width: 576px) {
  .portfolioPlaceholders {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  /* Hace que el navbar sea fijo en la parte superior */
  .navbar {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000; /* Ajusta según sea necesario */
  }

  /* Ajusta otros estilos específicos para dispositivos móviles si es necesario */
}
